<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>389902663028-hagfv720vjvd650koge98ubsboh2fb94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389902663028-hagfv720vjvd650koge98ubsboh2fb94</string>
	<key>API_KEY</key>
	<string>AIzaSyB7ha3Jbd-Fb4nTlaLrWgPJtcCMTXsnW0M</string>
	<key>GCM_SENDER_ID</key>
	<string>389902663028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.technosasa.Pocket-Money</string>
	<key>PROJECT_ID</key>
	<string>pocket-money-a2a01</string>
	<key>STORAGE_BUCKET</key>
	<string>pocket-money-a2a01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389902663028:ios:fa95a055f1dd6dca</string>
	<key>DATABASE_URL</key>
	<string>https://pocket-money-a2a01.firebaseio.com</string>
</dict>
</plist>